openapi: '3.0.0'
info:
  version: 1.0.0
  title: Vaibrix API
  license:
    name: MIT
servers:
  - url: https://api.vaibrix.com/v1
paths:
  /chatbots:
    get:
      summary: List all chatbots
      operationId: listChatbots
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of chatbots
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chatbots'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a chatbot
      operationId: createChatbots
      responses:
        201:
          description: Chatbot creation successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chatbots/{chatbotId}:
    get:
      summary: Info for a specific chatbot
      operationId: showChatbotById
      parameters:
        - name: chatbotId
          in: path
          required: true
          description: The id of the chatbot to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chatbots'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /voice-agents:
    get:
      summary: List all voice agents
      operationId: listVoiceAgents
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of voice agents
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceAgents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a voice agent
      operationId: createVoiceAgents
      responses:
        201:
          description: Voice agent creation successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /web-projects:
    get:
      summary: List all web projects
      operationId: listWebProjects
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of web projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebProjects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a web project
      operationId: createWebProjects
      responses:
        201:
          description: Web project creation successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Chatbot:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Chatbots:
      type: array
      items:
        $ref: '#/components/schemas/Chatbot'
    VoiceAgent:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        language:
          type: string
    VoiceAgents:
      type: array
      items:
        $ref: '#/components/schemas/VoiceAgent'
    WebProject:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        framework:
          type: string
    WebProjects:
      type: array
      items:
        $ref: '#/components/schemas/WebProject'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string